:host{
  display: flex;
  height: 100%;
  align-items: center;
}

form {
  background-color: aquamarine;
  padding: 50px;
  width: 30%;
}

form label{
  display: block;
  margin-top: 20px;
}

form input{
  border-radius: 5px;
  display: block;
  height: 25px;
  margin-top: 8px;
  width: 80%;
}

form button{
  display: inline-block;
  margin-top: 25px;
  width: 40%;
}

form button[type="submit"] {
  margin-left: 25px;
}