section .days-container{
    display: flex;
    background-color: green;
    height: calc(30% + 15px);
    max-height: 200px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
