.container{
    display: block;
    width: 100%;
}

section .days-container{
    height: calc(30% + 15px);
    max-height: 200px;
    display: flex;
    background-color: green;
    justify-content: space-evenly;
    align-items: center;
}
