.container{
    display: block;
    width: 100%;
    background-color: beige;
}

section.days-container{
    height: 25%;
    /* max-height: 200px; */
    display: flex;
    background-color: yellowgreen;
    justify-content: space-evenly;
    align-items: center;
}

section:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    background-color: blue;
}

pgs-day-detail{
    display: block;
    height: 75%;
    background-color: gray;
}