:host {
  display: block;
  width: 19%;
  height: 90%;
  font-size: x-large;
}

article {
  display: flex;
  background-color: lightgray;
  height: calc(90% - 7px);
}

article h2 {
  display: inline-block;
  background-color: yellow;
  width: 60%;
  border-radius: 0 0 0 5px;
  font-size: 350%;
  text-align: center;
  margin: auto;
}

article aside {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100% - 5px);
  width: 40%;
}

article aside span {
  display: inline-block;
  font-size: 70%;
  height: 30px;
  max-height: 50px;
  padding-top: 5px;
  text-align: center;
  vertical-align: middle;
  width: 80px;
}

section {
  background-color: blue;
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px 5px 0 0;
}

.ocuped{
  background-color: goldenrod;
}

article:hover{
  background-color: gray;
}